<nav class="bg-gray-100 text-gray-800 p-4 flex justify-between items-center fixed top-0 left-0 w-full shadow-lg">
  <div class="flex items-center ml-6">
      <img src="../../../assets/logo.png" alt="Logo" class="h-8 w-8 mr-2">
      <a routerLink="/" class="text-3xl font-bold text-blue-600 transition-all duration-300 hover:text-blue-700">
          MovieApp
      </a>
  </div>

  <div class="flex space-x-6">
      <a routerLink="/" class="hover:text-blue-500 text-xl lg:text-2xl font-semibold tracking-wide transition-all duration-300">
          Home
      </a>

      <div class="relative group" *ngIf="isAdmin()">
          <a class="hover:text-blue-500 text-xl lg:text-2xl font-semibold cursor-pointer transition-all duration-300">
              Movies
          </a>
          <div class="absolute hidden group-hover:block bg-gray-200 rounded-lg shadow-lg mt-1 p-2 w-40">
              <a routerLink="/show-movies" class="block px-4 py-2 hover:bg-gray-300 rounded transition-all duration-200">
                  Show Movies
              </a>
              <a routerLink="/add-movie" class="block px-4 py-2 hover:bg-gray-300 rounded transition-all duration-200">
                  Add Movie
              </a>
          </div>
      </div>
  </div>

  <div class="space-x-4 flex items-center">
      <a routerLink="/login" *ngIf="!isLoggedIn()"
         class="bg-blue-500 font-bold text-white px-4 py-2 rounded-lg hover:bg-blue-400 transition-all duration-300">
         Login
      </a>

      <a routerLink="/register" *ngIf="!isLoggedIn()"
         class="bg-blue-500 font-bold text-white px-4 py-2 rounded-lg hover:bg-blue-400 transition-all duration-300">
         Register
      </a>

      <div class="flex items-center space-x-3" *ngIf="isLoggedIn()">
        <h2 style="margin-bottom: 0;" class="font-bold text-blue-600 px-4 text-lg">
            {{getName()}}
        </h2>
        <a (click)="logout()"
           class="bg-gradient-to-r bg-red-500 text-white font-semibold px-3 py-2 rounded-lg shadow-md hover:bg-red-700 transition-all duration-300">
           Logout
        </a>
    </div>

  </div>
</nav>
